.btOdd {
    background-color: rgb(113, 107, 217);
    width: 50px;
    height: 25px;
    // padding: 20px 30px;
    margin: 5px;
    
}

.btEven {
    background-color: rgb(201, 217, 107);
    width: 50px;
    height: 25px;
    // padding: 20px 30px;
    margin: 5px; 
}